@media(max-width: 420px){
  .phone__wrapper{
    transform: scale(0.8);
  }
  .author{
    &__text{
      font-size: 14px;
    }
    &__link{
      font-size: 14px;
    }
  }
}
@media(max-width: 360px){
  .phone__wrapper{
    transform: scale(0.7);
  }
}
@media(max-width: 330px){
  .phone__wrapper{
    transform: scale(0.6);
  }
}
@media(max-width: 280px){
  .phone__wrapper{
    transform: scale(0.5);
  }
}
@media(max-width: 240px){
  .phone__wrapper{
    transform: scale(0.4);
  }
}
@media(max-width: 200px){
  .phone__wrapper{
    transform: scale(0.3);
  }
}
@media(max-width: 170px){
  .phone__wrapper{
    transform: scale(0.2);
  }
}